@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

#container-register{
    position: absolute;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #33383D, #1C1D20);
    display: table-row;
}

#container-1-register{
    width: 50%;
    height: 100%;
    position: absolute;
    display: inline-block;

}

#container-2-register{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}


.image-logo-compass-register {
    display: flex;
    position: absolute;
    width: 484px;
    height: 66px;
    top: 11px;
    left: 213px;
    align-items: center;
    
}

.image-logo-compass-register img{
    width: 484px;
    height: 66px;
    top: 11px;
    left: 1198px;

}

#container-register h1{
    position: relative;
    width: 273px;
    height: 75px;
    top: 94px;
    left: 296px;
    color: #ffffff;
    font-size: 60px;
    font-family: "Mulish", sans-serif;
    line-height: 75.3px;
}

#container-register p{
    position: absolute;
    width: 301px;
    height: 24px;
    top:169px;
    left: 304px;
    color: #ffffff;
    font-size: 16px;
}

img{
    width: 960px;
    height: 1080px;
    left: 980px;
}

#form-register{
    top: 150px;
    width: 600px;
    height: 700px;
    left: 285px;
    display: inline-block;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#form-register form {
    width: 550px;
    height: 700px;
    position: absolute;
    display: inline-block;
}

#form-register div {
    margin: 10px;
    display: grid;
    grid-gap: 10px;

}

form label{
    color: #E0E0E0;
    size: 16px;
    line-height: 20px;
    font-family: "Mulish", sans-serif;
    left: 296px;
    margin-right: 10px;
    justify-content: space-between;
    display: inline-flex;
    position: inherit;
}

input[type="text"]{
    width: 379px;
    height: 60px;
    top: 266px;
    left: 388px;
    border-radius: 50px;
    border: 1px solid #ffffff;

    background-color: #26292C;
}

button[type="submit"]{
    position: relative;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #FF2D04,#C13216);
    border: 2px;
    width: 379px;
    height: 67px;
    top: 968px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
    font-family: "Mulish", sans-serif;
}


